<div
  class="custom-card-shadow w-full lg:w-[448px] xl:w-[555px] flex flex-col gap-6 px-6 lg:px-10 xl:px-16 pt-8 pb-[4.75rem] bg-white rounded-2xl overflow-hidden"
>
  <div class="w-full flex flex-col">
    <h1 class="text-2xl xxs:text-[28px] leading-[42px] font-bold text-[#111111]">
      {{ 'auth.create_password.title' | translate }}
    </h1>
    <p class="text-[#343434] text-sm leading-7 font-semibold">
      {{ 'auth.create_password.subtitle' | translate }}
    </p>
  </div>

  <form
    class="w-full mb-4"
    [formGroup]="createPasswordForm"
    (ngSubmit)="createPasswordForm.valid && onSubmit(createPasswordFormData)"
  >
    <div class="flex w-full flex-col gap-[13px]">
      <div class="w-full flex flex-col">
        <mat-divider class="border-gray-200"></mat-divider>

        <div *ngIf="apiError.status" class="w-full py-5">
          <app-error-display [error]="apiError.message"></app-error-display>
        </div>
      </div>

      <div class="flex w-full flex-col gap-[13px]" formGroupName="userPassword">
        <div class="flex w-full flex-col gap-2">
          <label for="password">
            {{ 'form.password.label' | translate }}
          </label>
          <div class="input-wrapper">
            <input
              id="password"
              formControlName="password"
              [type]="passwordFields['password'].inputType"
              placeholder="••••••••"
              [pattern]="REG_EXP.PASSWORD"
              required
            />
            <button
              type="button"
              class="px-2 flex flex-row items-center justify-center"
              (click)="toggleVisibility('password', !passwordFields['password'].visible)"
            >
              <mat-icon
                class="h-4 w-4"
                [svgIcon]="passwordFields['password'].visible ? EYE_SLASH_ICON : EYE_ICON"
              ></mat-icon>
            </button>
          </div>

          <ng-container *ngIf="displayError(createPasswordFormData.userPassword.controls.password)">
            <mat-error
              class="text-xs font-normal text-error-500"
              *ngIf="createPasswordFormData.userPassword.controls.password.hasError('required')"
            >
              {{ 'form.password.error.required' | translate }}
            </mat-error>
            <mat-error
              class="text-xs font-normal text-error-500"
              *ngIf="createPasswordFormData.userPassword.controls.password.hasError('pattern')"
            >
              {{ 'form.password.error.pattern' | translate }}
            </mat-error>
          </ng-container>
        </div>

        <div class="flex w-full flex-col gap-2">
          <label for="confirmPassword">
            {{ 'form.confirm_password.label' | translate }}
          </label>

          <div class="input-wrapper">
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              [type]="passwordFields['confirmPassword'].inputType"
              placeholder="••••••••"
              required
            />
            <button
              type="button"
              class="px-2 flex flex-row items-center justify-center"
              (click)="toggleVisibility('confirmPassword', !passwordFields['confirmPassword'].visible)"
            >
              <mat-icon
                class="h-4 w-4 cursor-pointer"
                [svgIcon]="passwordFields['confirmPassword'].visible ? EYE_SLASH_ICON : EYE_ICON"
              ></mat-icon>
            </button>
          </div>

          <ng-container *ngIf="displayError(createPasswordFormData.userPassword.controls.confirmPassword)">
            <mat-error
              class="text-xs font-normal text-error-500"
              *ngIf="createPasswordFormData.userPassword.controls.confirmPassword.hasError('required')"
            >
              {{ 'form.confirm_password.error.required' | translate }}
            </mat-error>
          </ng-container>
          <mat-error
            class="text-xs font-normal text-error-500"
            *ngIf="
              createPasswordFormData.userPassword.hasError('passwordMismatch') &&
              createPasswordFormData.userPassword.controls.confirmPassword.dirty &&
              createPasswordFormData.userPassword.controls.confirmPassword.valid
            "
            >{{ 'form.confirm_password.error.password_mismatch' | translate }}
          </mat-error>
        </div>
      </div>

      <div class="flex w-full flex-col">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="createPasswordForm.invalid"
          class="h-11 w-full rounded-lg text-base font-medium"
        >
          <div class="flex flex-row items-center justify-center gap-2">
            <span class="text-sm font-semibold">{{ 'auth.button.create_password' | translate }}</span>
            <mat-progress-spinner
              color="accent"
              *ngIf="isCreatingPassword"
              mode="indeterminate"
              diameter="20"
              strokeWidth="3"
            ></mat-progress-spinner>
          </div>
        </button>
      </div>
    </div>
  </form>
</div>
